<%-include ("./common/header.ejs") %>

<h3>Add new product</h3>

<form method="POST" action="/add-product" class="product-form">
  <div class="d-flex flex-column mt-3">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
  </div>
  <div class="d-flex flex-column mt-4">
    <label for="imageUrl">Image Url:</label>
    <input type="text" id="imageUrl" name="imageUrl">
  </div>
  <div class="d-flex flex-column mt-4">
    <label for="price">Price:</label>
    <input type="number" step="0.01" id="price" name="price">
  </div>
  <div class="d-flex flex-column mt-4">
    <label for="description">Description:</label>
    <textarea type="text" id="description" name="description">
    </textarea>
  </div>

  <button class="btn btn-primary mt-4" type="submit">Save</button>
</form>

<%-include ("./common/footer.ejs") %>